
/* First view of the webpage with name introduction */
html, body{
    margin: 0%;
    text-align: center;
}

#first_page_view_div{
    background-color: #E4f9f5;
    height: 640px;
    border-top: 175px solid;
    border-color: #E4f9f5;
}


#upper_right_cloud_div{
    position: absolute;
    left: 1505px;
    top: 40px;
}

h1{
    font-family: 'Sacramento', serif;
    color: #66bfbf;
    font-size: 90px;
    margin-top: 0%;
    margin-bottom: 0.62em;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-size: 40px;
    font-weight: 300;
    margin-top: 0%;
    margin-bottom: 1.3em;  
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #66bfbf;
}

p{
    font-size: larger;
    font-family: 'Comic Neue', san-serif;
    line-height: 30px;
}

hr{
    margin: 8% auto;
    border-top:  dotted pink 10px;
    width: 5%;
}

#down_left_cloud_div{
    position: absolute;
    left: 300px;
}

#mountain_div{
    position: relative;
    bottom: 10px;
}

#middle_content_part_div{
    margin-top: 100px;
}


#hello{
    margin-top: 3%;
}

.intro_text{
    margin:0 35% 0% 35%;
}

#skill_pic_chilli{
    width: 11em;
    float: left;
    margin-right: 2%;
}

.skills_text{
    text-align: left;
    margin: 5% 30% 0 25%;
}

#skill_pic_halloween_deco{
    width: 11em;    
    float: right;
    margin-left: 2%;
}