
/* First view of the webpage with name introduction */
html, body{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

#first_page_view_div{
    background-color: #E4f9f5;
    height: 640px;
    border-top: 175px solid;
    border-color: #E4f9f5;
}


#upper_right_cloud_div{
    position: absolute;
    left: 1505px;
    top: 40px;
}

h1{
    text-align: center;
    font-family: 'Sacramento', serif;
    color: #66bfbf;
    font-size: 90px;
    margin-top: 0%;
    margin-bottom: 0.62em;
}

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-size: 40px;
    font-weight: 300;
    margin-top: 0%;
    margin-bottom: 1.3em;  
}

#down_left_cloud_div{
    position: absolute;
    left: 300px;
}

#mountain_div{
    text-align: center;
    position: relative;
    bottom: 10px;
}

#middle_content_part_div{
    margin-top: 100px;
}

#introduction_div{
    text-align: center;
}

#hello{
    margin-top: 3%;
}

#intro_text{
    font-size: larger;
    margin:0 35% 0 35%;
}