body{
    background-color: dimgray;
}

html, body {
    margin: 0;
    height: 100%
}


.CV_page{
    width: 1200px;
    height: 970px;
    margin: auto;
    background-color: rgb(91, 206, 250);
}

/* main page part*/


/*title and job description*/
.CV_main_page{
    width: 80.0%;
    margin-left: 20.0%;
}


.h1 {
    text-align: center;
    margin: auto;
}

.language_selector{
    position: absolute;top:27px; left: 1400px;
}



.job_description{
    text-align:center;
}

.hr_line_to_beruflicher_werdegang{
    color: rgb(254,169,184);
    margin-right: 5%;
}


/*Beruflicher Werdegang*/

.beruflicher_werdegang_title{
    text-align: center;
}

.beruflicher_werdegang{
    margin-right: 5%;
}


/*sidbar part*/
.box_sidepanel {
    box-sizing: content-box;
    width: 11%;
    height: 970px;
    background-color: rgb(254,169,184);
    position:fixed;
}


/*profile picture*/

.profile_pic {
    width: 80%;
    margin: 10% ;
}


/*email and telephone*/

.contact_info{
    margin-left: 10%;
    margin-right: 10%;
}

.contact_info_paragraph{
    text-align: left;
    margin: auto;
}

.email, .phone_number{
    font-size:  0.70rem;
}

.envelope_position, .phone_position{
    position: relative; top:4px;
}









