html, body {
    margin: 0;
    height: 100%;
    background-color: dimgray;
}


.CV_page{
    width: 1200px;
    height: auto;
    margin: auto;
    background-color: rgb(91, 206, 250);
}

/* main page part*/


/*title and job description*/
.CV_main_page{
    width: 80.0%;
    height: 100%;
    margin-left: 20.0%;
}


.h1 {
    text-align: center;
    margin: auto;
}

.language_selector{
    position: absolute;top:27px; left: 1400px;
}



.job_description{
    text-align:center;
}

.hr_line_to_beruflicher_werdegang{
    color: rgb(254,169,184);
    margin-right: 5%;
}


/*Beruflicher Werdegang*/

.beruflicher_werdegang_title{
    text-align: center;
}

.beruflicher_werdegang{
    margin-right: 5%;
}

/*Ausbildung*/

.Ausbildung_Überschrift{
    margin-left: 15%;
}

.beruflicher_werdegang_title{
    text-align: center;
}

.beruflicher_werdegang{
    margin-right: 5%;
}

/*Ausbildung*/

.Ausbildung_Überschrift{
    margin: 0 0 0 0%;
}


/*Studium*/

.Studium{
    margin: 3em 5% 0 15%;
}

.Praktikumsbetreuer{
    margin: 3em 5% 0 15%;
}

.Experimentelle_Übungen_II{
    margin: 3em 5% 0 15%;
}

.Experimentelle_Übungen_I{
    margin: 3em 5% 0 15%;
}

.Praktikum_EidP{
    margin: 3em 5% 0 15%;
}

/* Freiwilliges Ökologisches Jahr*/

.FÖJ{
    margin: 3em 5% 0 15%; 
}

/*sidbar part*/
.box_sidepanel {
    box-sizing: content-box;
    width: 11%;
    height: 970px;
    background-color: rgb(254,169,184);
    position:fixed;
}


/*profile picture*/

.profile_pic {
    width: 80%;
    margin: 10% ;
}
.Ausbildung{
    margin: 0 5% 0 15%;
}



/*sidbar part*/
.box_sidepanel {
    box-sizing: content-box;
    width: 11%;
    height: 100vh;
    background-color: rgb(254,169,184);
    position:fixed;
}


/*profile picture*/

.profile_pic {
    width: 80%;
    margin: 10% ;
}


/*email and telephone*/

.contact_info{
    margin-left: 10%;
    margin-right: 10%;
}

.contact{
    margin-top: 0px;
}

.contact_info_paragraph{
    text-align: left;
    margin: auto;
}

.email, .phone_number{
    font-size:  0.70rem;
}

.envelope_position, .phone_position{
    position: relative; top:4px;
}









